.serch__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.serch__panel {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 7px;
}

.serch__panel:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #CD4631!important;
    box-shadow: inset 0 0 0 50px #CD4631!important;
}
